/*footer*/
a {
    text-decoration: none;
}

p{
    font-size: 17px;
}

a:hover{
    color: #FE8B00 !important ;
}

h5{
    color: #FE8B00;
}
strong{
    color: #FE8B00;
}
/*mainfaq*/
#h1faq{
    margin-top: 30px;
}

/*mainme*/

.centrado{
    text-align: center;
    margin-top: 30px;
}
.botonme{
    text-align: center;
    background-color:#FE8B00;
    color: #ffffff;
    border-color: #FE8B00;
}
.h2me{
    text-align: center;
    margin-top: 30px;
}

.botonme1{
    
    text-align: center;
    background-color:#FE8B00;
    color: #ffffff;
    border-color: #FE8B00;
}
.pme{
    text-align: center;
    margin-top: 30px;
}

.botonme2
{
    text-align: center;
    background-color:#FE8B00;
    color: #ffffff;
    border-color: #FE8B00;
}
/*mainhe*/
#h1he{
    text-align: center;
    margin-top: 30px;
}
#h2he{
    text-align: center;
    margin: 30px;
}
.formulario{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.formulario div{
    margin-bottom: 30px;
    color: #FE8B00;
}
.legendhe{
margin-top: 30px;
}
.enviar{  background-color: #FE8B00;
    color: #ffffff;
    border-color: #FE8B00;

}
.reset
{
    background-color: #FE8B00;
    color: #ffffff;
    border-color: #FE8B00;
}
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*propiedades del contenedor*/
.contenedor
{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows:auto;
}


/*propiedades de los items*/

.hijo-uno{
    
}

.hijo-dos{
margin-top: 100px;
}

.hijo-tres{
    margin-top: 140px;

}

.paqueteria{
    height: 700px;
    width: 500px;
}
.boton1{
    background-color: #FE8B00;
    color: #ffffff;
    border-color: #FE8B00;
    height: 50px;
    
}

.terminal{
    text-align: center;
    margin: 40px;
}
.mapa{
    text-align: center;
    margin-bottom: 40px;
}
.contenedor1{
    display: grid;
    grid-template-columns: 25% 35% 40% ;
    grid-template-rows:auto;
}
.hijo-siete{
    margin-right: 40px;
}
.boton2{
    background-color: #FE8B00;
    color: #ffffff;
    border: #FE8B00;
    height: 40px;
}

