/*index*/
@import"../utilidades/mixin";
main{
    button{
        @include boton-estilo;
        
    }
    div.contenedor{
        background-color: #F5BA53;
        background-image: url(../../img/backgroundimg.png);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        justify-content: center;
        align-content: center;
        padding: 40px;
        
        
        
        
        .h1index{
            text-align: center;
            transform: translate(-50% -50%);
            font-size: 100px;
            color: white;
            font-family: 'Roboto', sans-serif;
            
        }
        .botonindex{
            @include boton-estilo ;
            width: 300px;}
            .botonindex:hover{@include boton-estilo-hover;
                
            }
    }
    div.contenedor0{
        text-align: center;
        display:flex;
        gap: 150px;
        justify-content: center;
        div{
            text-justify:center ;
            img.seguridad{height: 80px;
            

            }
            img{
                height: 90px;
                text-align: center;
                margin-top: 50%;
            }
            p{
                width: 200px;
            }
        }
        
    }
    div.contenedor1{
        
        text-align: center;

        iframe{
            width: 100%;
        }
        .h2index{
            text-align: center;
            font-size: 60px;
            font-family: $tipografia ;
            margin-top: 50px;

        }
        .pindex{
            text-align: center;
            font-family: $tipografia;
            font-size: 100%;
            margin-top: 50px;

        }
        .pindex1{
            text-align: center;
            font-family: $tipografia;
            margin-top: 50px;
        }
        .botonindex1{
            @include boton-estilo;
            justify-content: center;
            width: 450px;}
            
        .botonindex1:hover{@include boton-estilo-hover;
        }
    }
    .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #25d366;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;
        &:hover {
        background-color: #ffffff;
        }
        .whatsapp-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        }
    }
    }

    /*hacer un envio*/
    .mainhe{
        h1{
            text-align: center;
            margin-top: 50px;
        }
        h2{
            text-align: center;
            margin-top: 50px;

        }
        form{
            text-align: center;
            margin-top: 70px;
        }
    }

    /*mis envios*/
    .mainme{
        .divme{
            
            text-align: center;
            
            .botonme1{
                text-align: center;
                margin-top: 50px;
                background-color: $color-principal;
                color: white;
                border-radius: 30px;
                width: 300px;
            border-color: $color-principal;}
                .botonme2{
                    text-align: center;
                    background-color: $color-principal;
                    color: white;
                    border-radius: 30px;
                    width: 300px;
                    border-color: $color-principal;
                    margin-top: -100px;
                }
            .h1me{ 
                text-align: center;
                margin-top: 50px;
                margin: 40px;
                

            }
            .pme{
                margin-top: 50px;
                margin: 40px;
                strong{
                    .negritame{
                        font-weight: bold;
                    }
                }
            }
            .pme1{
                margin-top: 35px;
                margin: 10px;
                font-size: large;
            }
            
                
            
            
            }
        }
    
        /*mainhe*/
        .mainhe{
        .divhe{
            text-align: center;
            margin-top: 50px;
            input{
                margin:10px;
            }
            .enviar{
                background-color: $color-principal;
                color: white;
                border-color: $color-principal;
                width:100px;
                border-radius: 30px;
            }
            .reset{
                background-color: $color-principal;
                color: white;
                border-color: $color-principal;
                width:100px;
                border-radius: 30px;
            }
        }
        }
        /*mainfaq*/
        .mainfaq{
            margin: 50px;
        }
        
.mainre{
        display: none;
        

    .enviar{
        @include boton-estilo;
        
    }
    .enviar:hover{
    @include boton-estilo-hover}
    .reset{
        @include boton-estilo;
    }
    .reset:hover{
        @include boton-estilo-hover;
        
    }
}

    

.mainis{
    width: 100%;
    display: flex;
    flex-direction: row;
    .contenido1{
        
        text-align: center;
        margin-top: 10%;
        justify-content: center;
        
        .botonis1{
        margin-top: -40px;
        }
    }
}

.nanogrion{
    display: flex;
    .conteregistrarme1{
        
        .legendhe1{
            text-align: center;
        }
        div{
            align-self: center;
            margin:70px;
        }
        .reset{
            @include boton-estilo;
        }
        .enviar{
            @include boton-estilo;
        }
.reset:hover{
    @include boton-estilo-hover;
}
.enviar:hover{
    @include boton-estilo-hover;
}



    }

}