@mixin boton-estilo{
        
        margin-top: 5%;
        transform: translate(-50% -50%);
        font-size: x-large;
        background-color: $color-principal;
        color: white;
        border-radius: 30px;
        border-color: $color-principal;
}

@mixin boton-estilo-hover{
        
        
        transform: scale(1.1);
        
}